/* ===== GLOBAL THEME ===== */

:root {
  --color-primary: #25388A;
  --color-primary-dark: #1a265f;

  --color-bg: #25388A;
  --color-surface: #ffffff;

  --color-text: #1f2933;
  --color-text-muted: #6b7280;

  --color-warning: #d97706;
  --color-danger: #b91c1c;
}

/* Reset ligero */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.4;
}

button {
  font-family: inherit;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--color-primary);
  color: white;
}

button.primary:active {
  background-color: var(--color-primary-dark);
}


